<script src="./login.page.scss"></script>
<img class="back" src="../../../assets/img/paisaje.jpeg" alt="">
<ion-content>
  <div class="container">

    <div class="title">
      <h3>BIENVENIDO</h3>
    </div>

    <div class="form">
      <div class="email">
        <ion-input type="text" name="email" placeholder="Correo electrónico"></ion-input>
      </div>
      <div class="checkbox">
        <ion-checkbox checked="false" color="dark"></ion-checkbox>
        <ion-label>Recordar correo</ion-label>
      </div>
      <div class="pass">
        <ion-input type="password" name="pass" placeholder="Contraseña"></ion-input>
      </div>
      <div class="buttons">
        <ion-button color="dark">Iniciar sesión</ion-button>
        <ion-button color="light">Registrarse</ion-button>
      </div>
    </div>

    <div class="imgY">
      <img class="yacare" src="../../../assets/img/yacare-logo-yaca-dark.png" alt="yacare">
    </div>
  </div>
</ion-content>
